---
const { project, index } = Astro.props;
---

<div
  class="reveal projects__card"
  style={`transition-delay: ${0.1 + (index ?? 0) * 0.1}s;`}
>
  <div class="projects__media">
    <div class="projects__media-icon">
      <i class={project?.icon ?? "fas fa-code"}></i>
    </div>
  </div>
  <div class="projects__body">
    <h3 class="projects__name">
      {project?.link ? (
        <a href={project.link} target="_blank" rel="noreferrer" class="projects__link">
          {project.title}
        </a>
      ) : (
        project?.title
      )}
    </h3>
    <p class="projects__description">{project?.description}</p>
    {project?.tags?.length ? (
      <div class="projects__tags">
        {project.tags.map((tag) => (
          <span class="projects__tag">{tag}</span>
        ))}
      </div>
    ) : null}
  </div>
</div>
