<div class="projects__empty">
  <div class="projects__empty-icon">
    <i class="fas fa-layer-group"></i>
  </div>
  <h3 class="projects__empty-title">Projects in progress</h3>
  <p class="projects__empty-text">
    I am preparing new case studies. Check back soon to see them published.
  </p>
</div>
